
.color {
  color: rgb(226, 153, 26);
}


.noColor {
  color: wheat;
}

.ratings-hover button {
  border: none;
  background-color: transparent;
}

.submit-review input {
  margin: 15px 10px;
  border-radius: 5px;
}

.reviewsDiv {
  display: flex;
  justify-content: center;
  width: 100%;
}

