.card {
  margin: 0;
  padding: 0;
  width: 250px;
  height: 320px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border-radius: 5px;
  align-items: center;
}
.card:hover {
  box-shadow: 0 0 15px rgba(33,33,33,.2);
}


.card img {
  width: 200px;
  height: 200px;
  object-fit:cover;
}


.card figcaption {
  background-color: var(--light-gray);
  height: 70px;
  line-height: 35px; /* set this so text centers vertically */
  padding: 0px 15px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}
.card figcaption .productTitle {
  /* the lines to show are to get the "..." string on overflow */
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;

  width: 200px;
  font-size: 1.2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  color: white !important;
  text-shadow: 0 2px 0 rgb(131 116 35);
  font-weight: 600;
  letter-spacing: 1px;

}

.card figcaption .productInfo {
  /* the lines to show are to get the "..." string on overflow */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: flex;
  justify-content: space-evenly;
  align-items:center;
  font-size: 1rem;
  font-weight: normal;

  width: 200px;
    font-size: 1.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: normal;
    padding-bottom: 10px;
    color: white !important;
    text-shadow: 0 2px 0 rgb(131 116 35);
    font-weight: 600;
    letter-spacing: 1px;
}


.link {
  color: var(--text-color);
  border-radius: 5px;

}
.link:hover {
  text-decoration: none;
}

.productRating {
  margin: auto;
}

.imageContainer {
  padding-top: 10px;
  border-radius: 5px;
}
