
.address-container {
  display: flex;
}

.address-header {
  font-weight: 900;
  padding-right: 20px;
  padding-top: 15px;
  font-size: 18px;
}

.edit-address-btn {
  padding-left: 130px;
  padding-top: 15px;
  border: none;
  background-color: transparent !important;
}

.address-form {
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-evenly;
}

.address-input {
  transition: border-color 200ms ease-out,box-shadow 200ms ease-out;
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: 0 1px 6px 0 rgb(34 34 34 / 15%);
  display: block;
  font-size: 16px;
  height: 48px;
  padding-left: 12px;
  padding-right: 36px;
  width: 100%;
  border-radius: 6px;
  background: #FFFFFF;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  color: #222222;
  text-indent: 0.01px;
  text-overflow: "";
  cursor: pointer;
}

.address-button {
  background-color: #222222;
  color: #FFFFFF;
  width: 100%;
  border-radius: 24px;
  height: 30px;
  margin-top: 5px;
}
