.cart-item-img-checkout {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.cart-img-container {
  width: 160px;
  height: 160px;
  border-radius: 5px;
}

.cart-item-header {
  text-decoration: none;
  color: #222222;
  transition: opacity 200ms ease-out;
  padding-top: 10px;
  padding-left: 10px;
  width: 300px;
}

.cart-item-container {
  display: flex;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  -moz-appearance: textfield;
}

.quantity {
  transition: border 200ms ease-out,background 200ms ease-out;

  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: #FFFFFF;
  box-shadow: 0 1px 4px 0 rgb(34 34 34 / 10%) inset;
  border-color: rgba(34, 34, 34, 0.15);
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  color: #222222;
  font-size: 16px;
  outline: none;

  width: 30%;
  min-width: 0;
}

.checkout-hr {
  background-color: transparent;
  display: block;
  height: 1px;
  border-width: 0;
  border-top: 1px solid #e7e7e7;
  line-height: 19px;
  margin-top: 0;
  margin-bottom: 14px;
}

.bigLeaf {
  width: 400px;
  position: absolute;
  left: -200px;
}

.shipping-credit-container {
  display: flex;
  /* width: 50%;
  height: 50vh; */
  margin: 2em auto;
  box-shadow:
   -15px 0 0 0 #F9A90B,
    15px 0 0 0 #F9A90B,
    0 -15px 0 0 #F9A90B,
    0 15px 0 0 #F9A90B;
  position: relative;

}

.check-out-page {
  display: flex;
  justify-content: center;
}

.purchase-total-container {
  position: sticky;
  top: 100px;
  right:0;
  margin-bottom: auto;
  padding-bottom: 50px;
}
