
.credit-container {
  display: flex;
}

.credit-header {
  font-weight: 500;
  padding-right: 20px;
  padding-top: 15px;
  font-size: 18px;
}

.edit-credit-btn {
  padding-left: 100px;
  padding-top: 15px;
  border: none;
  background-color: transparent !important;
  padding-right: 15px;
}

.credit-form {
  display: flex;
  flex-direction: column;
}

.credit-dropdown {
  font-size: 20px !important;
  width: 270px;
}

.credit-dropdown-category {
  padding: 5px 5px;
  width: 76px;
  border-radius: 5px;
}
