.searchProducts {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

.searchTag {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-family: "Roboto";
  font-style: light;
  font-weight: 300;
  font-size: 2rem;
  padding: 30px 30px;
  padding-top: 60px;
}
